html{
    /* background-color: black; */
    background-image: linear-gradient(to right, rgb(11, 247, 227),  rgb(2, 110, 252), rgb(11, 247, 227) );
}

@font-face {
    font-family: 'Pacifico', cursive;
    src: url(fonts/Pacifico-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

h1{
    text-align: center;
    color: rgb(20, 187, 70);
    
}

.calculator{
   display: block;
   margin: 0 auto;
   padding-left: 6px;
   width: 300px; 
   height: auto;
   font-family: 'Pacifico';
   font-size: 16px;
}

.displ{
    float: left;
    width: 13.2em;
    height: 4.2em;
    text-align: right;
    margin: 4px;
    padding-right: 2px;
    line-height: 3em;
    background-color: beige;
}
.displ input{
    border: 0;
    background-color: beige;
    width: 16em;
    height: 4.8em;
    text-align: center;
    
}

button{
    margin: 0.25em;
    float: left;
    width: 5em;
    height: 5em;
    margin: 0.25em;
    background-color: rgb(43, 226, 98);
    border: 0;
}